@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Playfair+Display:wght@600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    
    }

    body{
     background-image: url(../images/pozadina.jpg);
     background-size: cover;
    }

    
.Forma 
{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgb(19, 18, 18);
    border-radius: 5%;
    background-color: rgba(228, 211, 211, 0.644);
    padding: 5%;
     margin: 10% 35%;  
 
     
    }
    h1 {
          
      font-size: xx-large;
      font-style: italic;

    }
    input[type=text], input[type=password] {

        width: 50%;
        padding: 12px 20px;
        margin: 0 auto;
        display: flex;
        border: 1px solid black;
        
        border-radius: 10px;
    }
    .pošalji {
   background-color: gray;
    color: rgb(17, 17, 17);
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 50%;
    text-align: center;
    border-radius: 10px;
   
    font-size: x-large;
}
.pošalji:hover {
    letter-spacing: 1px;
}
.slika {
    text-align: center;
    margin: 0;
    padding-top: 24px
}

.container {
    padding: 10px;
}
